body {
    height: 1000000px;
}

.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 188px; // Adjusted to account for the fixed header height
}