.sign-in-wrapper{
    background-image: url(/assets/images/sign-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form{
        display: flex;
        border-radius: 45px;
background: rgba(255, 255, 255, 0.30);
box-shadow: 6px 12px 33.1px 0px rgba(229, 229, 229, 0.30);
backdrop-filter: blur(11.949999809265137px);
width: 1016px;
height: 488px;
flex-shrink: 0;
.login-left-side{
    padding: 105px 66px 151px 70px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login-left-title{
        color: var(--Greys-Colors-01, #404040);
font-family: "Manrope",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
text-transform: uppercase;
padding-bottom: 42px;
    }
    .login-left-p{
        color: var(--Color-Text-01, #323232);

/* Headline 7 */
font-family: "Quicksand",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 540;
line-height: normal;
padding-bottom: 42px;
    }
    .login-left-button{
        color: #FFF;
font-family: "Manrope",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border-radius: 100px;
background: #ED5A25;
border: none;
width: 218px;
height: 48px;
flex-shrink: 0;
&:hover{
    background-color: #bb4c24;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
    }
}
.login-right-side{
    padding: 86px 69px 86px 68px;
    width: 50%;
    height: 100%;
            border-radius: 45px;
    background-color: #FFF;
.login-right-title{
    padding-bottom: 25px;
    color: var(--Color-Text-01, #323232);
font-family: "Manrope" ,sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}
.input-form-email{
    margin-bottom: 12px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
            border-radius: 100px;
background: #F2F2F2;
            width: 373px;
height: 48px;
flex-shrink: 0;
    input{
        width: 75%;
        border: none;
        background-color: #F2F2F2;
        &:focus{
            border: none;
            outline: none;
        }
    }
}
.input-form-password{
    margin-bottom: 23px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
            border-radius: 100px;
background: #F2F2F2;
            width: 373px;
height: 48px;
flex-shrink: 0;
    input{
                width: 75%;
        border: none;
        background-color: #F2F2F2;
        &:focus{
            border: none;
            outline: none;
        }
    }
}
.forgot{
    text-align: center;
    color: var(--Primary-Colors, #ED5A25);
font-family: "Inter",sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 47px;
&:hover{
    text-decoration: underline;
    cursor: pointer;
}
}
.login-small-title{
    color: #999;
font-family: "Inter",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: center;
white-space: nowrap ;
padding-bottom: 21px;
}
.login-icon-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
}
    }
}


// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
        .login-form{
        width: 100% !important;
                justify-content: center;
    }
    .login-left-side{
        display: none !important;
    }
    .login-right-side{
        width: 70% !important;
    }
 }
// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
        .login-form{
        width: 100% !important;
        justify-content: center;
    }
    .login-left-side{
        display: none !important;
    }
    .login-right-side{
        width: 80% !important;
    }
 }
  // `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .login-form{
        width: 100% !important;
    }
    .login-left-side{
        display: none !important;
    }
    .login-right-side{
        width: 100% !important;
    }
 }
