.footer-wrapper {
    width: 100%;
    margin: 0 auto;

    flex-shrink: 0;
    z-index: 1000;
    border-top: 1px solid var(--Greys-Colors-04, #D9D9D9);

    .footer-content {
        display: flex;
        align-items: flex-start;
        padding: 61px 126px 96px 126px;
        justify-content: space-between;

        .col {
            display: flex;
            width: 99px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;

            .col-title {
                color: #000;
                font-family: "Manrope", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                white-space: nowrap;
            }

            ul {
                padding-left: 0 !important;
                color: #000;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;

                li {
                    a {
                        white-space: nowrap;
                    }
                }
            }

            .pay-ul {
                display: flex;
                width: 162.488px;
                padding: 10px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex-shrink: 0;

                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    a {
                        display: block;
                        border-radius: 5px;
                        border: 1px solid var(--Greys-Colors-06, #F2F2F2);
                        background: #FFF;

                        img {
                            height: 27.141px;
                            align-self: stretch;
                        }
                    }
                }
            }

            .social-ul {

                li {

                    a {
                        display: block;


                        img {
                            width: 24px;
                            height: 24px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .footer-content2 {
        padding: 0 126px 30px 126px;
        display: flex;

        .col {
            display: flex;
            width: 443px;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;

            .col-title {
                color: #000;
                font-family: "Manrope", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }

            ul {
                padding: 0 !important;
                color: #000;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }

            .logos {
                display: flex;
                align-items: center;
                gap: 35px;
                align-self: stretch;

                .logo1 {
                    a {
                        img {
                            width: 195px;
                            height: 74px;
                            object-fit: cover;
                        }
                    }
                }

                .logo2 {
                    a {
                        img {
                            width: 62px;
                            height: 62px;
                            object-fit: cover;
                        }
                    }
                }

                .logo3 {
                    a {
                        img {
                            width: 54px;
                            height: 54px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .footer-content3 {
        height: 50px;
        display: flex;
        justify-items: center;
        align-items: center;
        background: var(--Secondary-Colors-12, #FFF4F1);

        p {
            margin-bottom: 0 !important;
            margin-left: auto !important;
            margin-right: auto !important;
            color: #909090;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

}