<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
    <div class="header-wrapper">
        <div class="header-row1">
            <div class="row1-left">
                <div>Về chúng tôi</div>
            </div>
            <div class="row1-right">
                <div>Trung tâm hỗ trợ <i class="fa-solid fa-chevron-down"></i></div>
                <div>ENG <i class="fa-solid fa-chevron-down"></i></div>
                <div><label for="tai-khoan" class="taikhoan"><i class="fa-regular fa-circle-user"></i> Tài khoản
                    </label></div>
            </div>
            <input type="checkbox" id="tai-khoan" hidden>
            <div class="row1-tai-khoan-dropdown">
                <ul>
                    <li><a href="/f8-zoom-module-1/account.html">Thông tin tài khoản</a></li>
                    <li><a href="/f8-zoom-module-1/sign-in.html">Đăng nhập</a></li>
                    <li><a href="/f8-zoom-module-1/sign-up.html">Đăng ký</a></li>
                    <li><a href="/f8-zoom-module-1/payment.html">Thanh toán</a></li>
                </ul>
            </div>
        </div>
        <div class="header-row2">
            <div class="row2-mobile-header">
            <a href="" class="row1-hamburger"><img src="/assets/images/row1-hamburger.svg" alt=""></a>
            <div class="row2-mobile-hotline">
                <i class="fa-solid fa-phone"></i>
                <div class="phone-number-mobile">Hotline: 19200 10800</div>
            </div>
            </div>
            <div class="row2-left">
                <div class="logo">
                    <a href="/f8-zoom-module-1/src/index.html"><img src="/assets/images/logo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="row2-right">
                <div class="search-form ">
                    <div class="all-categories">
                        &nbsp;All categories &nbsp; <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-row3">
            <div class="row3-mobile-header">
                <label for="drawer-header-mobile">
                    <img src="/assets/images/row2-hamburger.svg" alt="">
                </label>
                <div class="icon-header-mobile">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href=""><i class="fa-regular fa-user"></i></a>
                </div>
            </div>
            <input type="checkbox" id="drawer-header-mobile" hidden>
            <div class="drawer-header-mobile-wrapper">
            <div class="drawer-header-mobile">
                <div class="drawer-title">
                    <div class="drawer-logo">
                    <a href=""><img src="/assets/images/logo.png" alt=""></a>
                    </div>
                    <label for="drawer-header-mobile"><i class="fa-solid fa-xmark"></i></label>
                </div>
                <div class="drawer-content">
                    <div class="single-row-content">
                        <p>Card voucher</p>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="single-row-content">
                        <p>Top-Up</p>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="single-row-content">
                        <p>Contact us</p>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            </div>
            <div class="row3-left">
                <div><a href="/f8-zoom-module-1/index.html">Trang chủ</a></div>
                <div><a href="">Thẻ điện thoại <i class="fa-solid fa-chevron-down"></i></a></div>
                <div><a href="">Nạp game <i class="fa-solid fa-chevron-down"></i></a></div>
            </div>
            <div class="row3-right">
                <i class="fa-solid fa-phone"></i>
                <div class="phone-number">Hotline: 19200 10800</div>
            </div>
        </div>
    </div>
</header>