<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
    <div class="header-account-wrapper">
        <div class="header-account-row2">
            <div class="row2-left">
                <div class="logo">
                    <a href="/index.html"><img src="/assets/images/logo-account.svg" alt="Logo"></a>
                </div>
            </div>
            <div class="row2-right">
                <div class="search-form">
                    <div>
                        &nbsp;All categories &nbsp; <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

            </div>
                            <div><label for="tai-khoan" class="taikhoan"><i class="fa-regular fa-circle-user"></i> Tài khoản
                    </label></div>
                        <input type="checkbox" id="tai-khoan" hidden>
            <div class="row1-tai-khoan-dropdown">
                <ul>
                    <li><a href="/account.html">Thông tin tài khoản</a></li>
                    <li><a href="/sign-in.html">Đăng nhập</a></li>
                    <li><a href="/sign-up.html">Đăng ký</a></li>
                </ul>
            </div>
        </div>
        <div class="header-account-row3">
            <div class="row3-left">
                <div><a href="/index.html">Trang chủ</a></div>
                <div><a href="">Thẻ điện thoại <i class="fa-solid fa-chevron-down"></i></a></div>
                <div><a href="">Nạp game <i class="fa-solid fa-chevron-down"></i></a></div>
            </div>
            <div class="row3-right">
                <i class="fa-solid fa-phone"></i>
                <div class="phone-number">Hotline: 19200 10800</div>
            </div>
        </div>
    </div>
</header>